# ========================
# OS / System Files
# ========================
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# ========================
# Compiler / Build Artifacts (MSVC)
# ========================
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.lib
*.exp
*.log
*.tlog
*.pch
*.res
*.rsp
*.manifest
*.sbr
*.ipdb
*.iobj
*.user
*.suo
*.lastbuildstate

# ========================
# Output / Build Folders
# ========================
build/
out/
bin/
obj/
x64/
x86/
Debug/
Release/
temp/

# ========================
